<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>curl -n -X POST https://api.heroku.com/apps/slack-it-petclinic/builds -d &apos;{&quot;source_blob&quot;:{&quot;url&quot;:&quot;https://github.com/zeilush/slack-app/archive/master.tar.gz&quot;, &quot;version&quot;: &quot;cb6999d361a0244753cf89813207ad53ad906a14&quot;}}&apos; -H &quot;Authorization: Bearer a8977a11-2d06-48a4-a525-effcb1121a3d&quot; -H &apos;Accept: application/vnd.heroku+json; version=3&apos; -H &quot;Content-Type: application/json&quot; &gt; output.json

curl -i -X GET $(cat output.json | python -c &quot;import json,sys;obj=json.load(sys.stdin);print obj[&apos;output_stream_url&apos;];&quot;)</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain>slack-it-talk</teamDomain>
      <authToken>xL8gaUoKbh2hxQpM8kaD1KOK</authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room>#jenkins-notifications</room>
      <startNotification>true</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>true</notifyAborted>
      <notifyNotBuilt>true</notifyNotBuilt>
      <notifyUnstable>true</notifyUnstable>
      <notifyRegression>true</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>AUTHORS_AND_TITLES</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>